<ion-view title="About" id="page10">
    <ion-nav-buttons side="right">
        <a href="#/home"><button class="button">
            Log out
        </button></a>
    </ion-nav-buttons>
    <ion-content overflow-scroll="true" class="has-header">
        <div class="wrapper" style="text-align:center;">
            <img src="img/5mOJIrThRpGyu8Eb9aM0_About Image.jpg" width="100%" height="auto">
            <h2>What is Plannter?</h2>
        </div>
        <div class="padding">
            <div id="about-markdown1" style="color:#272727;text-align:center;">
                <p>
                    <em>Developed for</em>
                </p>
            </div>
            <a href="#" onclick="window.open('https://www.facebook.com/pages/Trellis-Root-Farm-and-Apiary/445955968946096?fref=ts', '_system', 'location=yes'); return false;" id="about-button1" style="color:#272727;border-radius:5px 5px 5px 5px;" class="button button-balanced  button-block button-outline">Trellis Root Farm &amp; Apiary</a>
            <div class="spacer" style="width: 300px; height: 15px;"></div>
            <div id="about-markdown2" style="color:#000000;">
                <p>
                    <strong>Plannter</strong> is a scheduling and data visualization application, uniquely designed for farmers and gardeners of all skill levels, to assist with remembering when to plant and transplant seeds.</p>
            </div>
            <div class="spacer" style="width: 300px; height: 15px;"></div>
            <div>
                <hr width="60%">
            </div>
            <div class="spacer" style="width: 300px; height: 15px;"></div>
            <h4 id="about-heading2" style="color:#272727;">Set your number of seed generations, custom plant period, and transplant period, and Plannter will autopopulate the calendar with easy to understand events that take all the work out of scheduling, which gives you more time to do what you love.
                Grow.</h4>
            <div class="spacer" style="width: 300px; height: 15px;"></div>
            <div>
                <hr width="60%">
            </div>
            <div class="spacer" style="width: 300px; height: 15px;"></div>
            <h3 id="about-heading3" style="color:#272727;text-align:center;">Contact Us</h3>
            <a href="mailto:plannter@gmail.com" id="about-button5" class="button button-balanced  button-block button-outline">Send us an Email!</a>
            <div class="button-bar">
                <a href="#" onclick="window.open('http://twitter.com/Plannter', '_system', 'location=yes'); return false;" id="about-button2" class="button button-balanced button-large button-block button-clear icon ion-social-twitter"></a>
                <button id="about-button3" class="button button-balanced button-large button-block button-clear icon ion-social-facebook"></button>
            </div>
        </div>
    </ion-content>
</ion-view>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-78326602-1', 'auto');
  ga('send', 'pageview');

</script>