<ion-view title="Donate" id="page4">
    <ion-content overflow-scroll="true" class="has-header">
        <div class="wrapper" style="text-align:center;">
            <img src="img/eVgjkeRbQO6mbC6W76AI_Donate Image.jpg" width="100%" height="auto">
            <h2>Show You Care!</h2>
        </div>
        <div class="padding">
            <button id="donate-button7" style="font-weight:600;" class="button button-balanced  button-block icon-left ion-ios-heart">Donate to Plannter</button>
            <div id="donate-markdown6" style="color:#272727;">
                <p>
                    <strong>Plannter</strong> is 100% free. We believe in creating tools to enable people, and with that being our focus, we cannot justify running ads on our app against your consent just to pay server and hosting costs.</p>

                <p>Your tools simply shouldn't be selling you products.</p>

                <p>If you support
                    <strong>Plannter</strong> being 100% free and 100% ad-free, or if you just find
                    <strong>Plannter</strong> useful and would like to contribute to further development, feel free to donate above.</p>

                <p>Thank you,</p>

                <p>
                    <strong>Plannter Team</strong>
                </p>
            </div>
        </div>
    </ion-content>
</ion-view>