<ion-view title="Home" id="page3">
            <ion-nav-buttons side="right">
                <a href="#/login"><button class="button button-outline button-light">
                    Log in
                </button></a>
            </ion-nav-buttons>

    <ion-content overflow-scroll="true" class="has-header">
        <div class="wrapper" style="text-align:center;">
            <img class="bannerImg" src="img/kXsJfbTSru2QFc1OVFJE_growwithoutlimits.jpg" width="100%" height="auto">
            <h1>Grow Without Limits</h1>
            <a href="#/signup"><button class="button button-light signUpButton">
                Sign up
            </button></a>            
        </div>
        <div class="padding">
            <h3 id="home-heading4" style="color:#272727;font-weight:400;text-align:center;">What is Plannter?</h3>
            <h4 id="home-heading5" style="color:#272727;font-weight:400;text-align:center;">Plannter is a tool for those who grow</h4>
            <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; background-color: rgb(255, 255, 255);">
                <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
            </div>
            <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; background-color: rgb(255, 255, 255);">
                <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
            </div>
            <div id="home-markdown4" style="color:#272727;text-align:center;">
                <p> <i>Developed for</i> </p>
            </div>
            <button id="home-button6" style="color:#272727;" class="button button-balanced  button-block button-outline">Trellis Root Farm &amp; Apiary</button>
        </div>
    </ion-content>
</ion-view>