<ion-view title="TabsPostLogin" id="page1" style="background-color:#FFFFFF;">
    <ion-tabs class="tabs-balanced tabs-icon-top">
        <ion-tab title="Dashboard" icon="ion-grid" href="#/tabspostlogin/dashboard">
            <ion-nav-view name="tab7"></ion-nav-view>
        </ion-tab>        
        <ion-tab title="Add Crop" icon="ion-plus" href="#/tabspostlogin/addcrop">
            <ion-nav-view name="tab8"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Home" icon="ion-ios-home" href="#/tabspostlogin/homeIn">
            <ion-nav-view name="tab9"></ion-nav-view>
        </ion-tab>
        <ion-tab title="About" icon="ion-information-circled" href="#/tabspostlogin/aboutIn">
            <ion-nav-view name="tab10"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Donate" icon="ion-ios-heart" href="#/tabspostlogin/donateIn">
            <ion-nav-view name="tab11"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>